@use 'partial';

nav{
  height:80px;
  background-color: partial.$primary-color;
  color:partial.$light-font-color;
  padding:1.5em;
  position: fixed;
  top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-left{
    font-family: partial.$secondary-font;
    font-display: swap;
  }

  .nav-right:hover{
    cursor:pointer;
    color: partial.$secondary-color;
  }
}